<div class="text-center">
  <a href="https://api.chucknorris.io/" target="_blank">
    <img src="https://api.chucknorris.io/img/chucknorris_logo_coloured_small@2x.png" alt="ChuckNorris.io" class="mt-5">
  </a>
  <h1 class="mt-3">Chuck Norris Joke</h1>
  <div class="mt-5 text-center">
    <div class="d-flex justify-content-center">
      <input class="form-control me-2" id="search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary" (click)="getQuoteSearchFromChuck()">Search</button>
    </div>
  </div>

  <div *ngIf="this.latestSearch" class="mt-3">
    <div>
      <span class="fw-bold text-decoration-underline">Latest Search: </span><span>{{latestSearch}}</span>
    </div>
  </div>

  <div class="mt-3">
    {{quotesSearched}}
  </div>
</div>

