<div class="d-flex justify-content-center mt-5">
  <input class="form-control me-2" id="searchFromList" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-primary" (click)="searchFromList()">Search</button>
</div>

<div class="mt-4">
  <button class="btn btn-success">Save</button>
</div>

<table class="table mt-4">
  <thead>
  <tr>
    <th scope="col">Quote</th>
    <th scope="col">Date Created</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let quote of quoteList">
    <th scope="row">{{quote.quote}}</th>
    <th scope="row">{{quote.date}}</th>
  </tr>
  </tbody>
</table>

